.App {
  text-align: center;
}

.App-header {
  background-color: #00b4d8;
  padding: 1em;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

body{
 background-color: #caf0f8;
}

footer{
  background-color: #0096c7;
  padding-bottom: 15px;
  padding-top: 15px;
}