.listDiv{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    order: 3;
    padding-bottom: 15px;

    background-color: rgb(175, 175, 232);
    margin-top: 2em;
}
.listDiv>* {
    flex: 0 0 33.3333%;
}